.member-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 5px;
    font-size: 0.94rem;
}

.member-list-title {
    margin: 7px 0px 8px 10px;
    color: var(--fg-1);
}