.scrollable {
    overflow: hidden;
    max-height: calc(100%);

    /* For Firefox */
    scrollbar-width: thin;
    scrollbar-color: var(--bg-0) transparent;
}

.scrollable:hover {
    overflow-y: auto;
}

.scrollable::-webkit-scrollbar-track {
    background-color: transparent;
}

.scrollable::-webkit-scrollbar {
    width: 5px;
}

.scrollable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--bg-0);
}