:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: var(--fg-2);
    font-weight: 600;

    --bg-0: #0d0d0d;
    --bg-1: #1c1c1c;
    --bg-2: #242424;
    --bg-3: #2b2b2b;

    --fg-0: rgb(130, 130, 130);
    --fg-1: rgb(170, 170, 170);
    --fg-2: rgb(190, 190, 190);
    --fg-3: rgb(230, 230, 230);
}

#root {
    display: grid;
    grid-template-columns: 60px 230px auto 230px;
    grid-template-rows: 60px auto 130px 50px;
    grid-template-areas:
        "sidebar groupinfo title title"
        "sidebar channels chat members"
        "sidebar settings chat members"
        "sidebar userinfo input members";
    height: 100%;
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--bg-0);
}

.groupinfo {
    grid-area: groupinfo;
    border-bottom: 1px solid var(--bg-1);
    background-color: var(--bg-1);
}

.title {
    grid-area: title;
    border-bottom: 1px solid var(--bg-1);
    background-color: var(--bg-1);
}

.channels {
    grid-area: channels;
    background-color: var(--bg-3);
}

.chat {
    grid-area: chat;
    background-color: var(--bg-2);
    display: flex;
    align-items: end;
}

.members {
    grid-area: members;
    background-color: var(--bg-3);
}

.userinfo {
    grid-area: userinfo;
    background-color: var(--bg-3);
}

.input {
    grid-area: input;
    background-color: var(--bg-2);
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.settings {
    grid-area: settings;
    background-color: var(--bg-1);
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
