#root {
    display: grid;
    grid-template-columns: 60px 230px auto 200px;
    grid-template-rows: 60px auto 130px 50px;
    grid-template-areas:
        "sidebar groupinfo title title"
        "sidebar channels chat members"
        "sidebar settings chat members"
        "sidebar userinfo input members";
    background-color: #242424;
    height: 100%;
}

.sidebar {
    grid-area: sidebar;
    background-color: #0d0d0d;
}

.groupinfo {
    grid-area: groupinfo;
    border-bottom: 1px solid #0b120f;
}

.title {
    grid-area: title;
    border-bottom: 1px solid #0b120f;
}

.channels {
    grid-area: channels;
    background-color: #2b2b2b;
}

.chat {
    grid-area: chat;
}

.members {
    grid-area: members;
    background-color: #2b2b2b;
}

.userinfo {
    grid-area: userinfo;
    background-color: #2b2b2b;
}

.input {
    grid-area: input;
}

.settings {
    grid-area: settings;
    background-color: #1c1c1c;
}

html, body {
    margin: 0;
    height: 100%;
}
